<table width="800" border="0">
  <tr>
    <td align="center"><strong>ESCUELA DE EMPRESAS</strong></td>
  </tr>
  <tr>
    <td><strong>ES MUY IMPORTANTE LA EVALUACIÓN DEL INSTRUCTOR, TANTO ACADÉMICA COMO ACERCA DEL COMPORTAMIENTO CONDUCTUAL DE LOS PARTICIPANTES. POR FAVOR TOMA EL TIEMPO NECESARIO PARA LLENAR ESTA EVALUACIÓN Y ENTRÉGALA JUNTO CON LA LISTA DE CLASES. MUCHAS GRACIAS!</strong></td>
  </tr>
  <tr>
    <td><table width="800" border="0">
      
      
      <tr>
        <td>FECHA</td>
        <td><input name="f2_fecha" value="{$f2_fecha}" type="text" id="f2_fecha" size="60" /></td>
      </tr>
      <tr>
        <td>GRUPO</td>
        <td><input name="f2_grupo" value="{$f2_grupo}" type="text" id="f2_grupo" size="60" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><strong>Favor escoger la opción correcta</strong></td>
  </tr>
  <tr>
    <td><p><strong>1.- Participación. De manera general se puede decir que el grupo es:</strong></p>
      <table width="463">
        <tr>
          <td width="339"><label>
            <input type="radio" name="f2_participacion" value="a" {$helper->checked($f2_participacion,"a")}  id="f2_participacionExtremadamente" />
          Extremadamente Participativo</label></td>
        </tr>
        <tr>
          <td><label>
            <input type="radio" name="f2_participacion" value="b" {$helper->checked($f2_participacion,"b")} id="f2_participacionMuy" />
            Muy Participativo</label></td>
        </tr>
        <tr>
          <td><label>
            <input type="radio" name="f2_participacion" value="c" {$helper->checked($f2_participacion,"c")} id="f2_participacionMedianamente" />
            Medianamente Participativo</label></td>
        </tr>
        <tr>
          <td><label>
            <input type="radio" name="f2_participacion" value="d" {$helper->checked($f2_participacion,"d")} id="f2_participacionForzada" />
            La participación es forzada por el Profesor</label></td>
        </tr>
        <tr>
          <td><label>
            <input type="radio" name="f2_participacion" value="e" {$helper->checked($f2_participacion,"e")} id="f2_participacionNula" />
            La participación es nula</label></td>
        </tr>
      </table></td>
  </tr>
  <tr>
    <td><strong>2.- Interés. De manera general puede afirmar que el grupo demostró:</strong></td>
  </tr>
  <tr>
    <td><table width="463">
      <tr>
        <td width="339"><label>
          <input type="radio" name="f2_interes" value="a" {$helper->checked($f2_interes,"a")} id="f2_interesMucho" />
          Mucho interes por aprender y compartir
        </label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_interes" value="b" {$helper->checked($f2_interes,"b")} id="f2_InteresMediano" />
          Mediano interés por aprender y compartir</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_interes" value="c" {$helper->checked($f2_interes,"c")} id="f2_interesPoco" />
          Poco interés por aprender y compratir</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_interes" value="d" {$helper->checked($f2_interes,"d")} id="f2_interesObligacion" />
          Es un grupo que parece asistir por obligación</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_interes" value="e" {$helper->checked($f2_interes,"e")} id="f2_interesNegativo" />
          Una predisposición Negativa en clases</label></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><strong>3.- Rendimiento. De manera general puede afirmar que el grupo tuvo un rendimiento académico:</strong></td>
  </tr>
  <tr>
    <td><table width="463">
      <tr>
        <td width="339"><label>
          <input type="radio" name="f2_rendimiento" value="a" {$helper->checked($f2_rendimiento,"a")} id="f2_rendimientoExcelente" />
          Excelente</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_rendimiento" value="b" {$helper->checked($f2_rendimiento,"b")} id="f2_rendimientoMuyBueno" />
          Muy Bueno</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_rendimiento" value="c" {$helper->checked($f2_rendimiento,"c")} id="f2_rendimientoBueno" />
          Bueno</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_rendimiento" value="d" {$helper->checked($f2_rendimiento,"d")} id="f2_rendimientoMalo" />
          Malo</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_rendimiento" value="e" {$helper->checked($f2_rendimiento,"e")} id="f2_rendimientoMuyMalo" />
          Muy Malo</label></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><strong>4.- Actitud. De Manera general se puede decir que el grupo demostró:</strong></td>
  </tr>
  <tr>
    <td><table width="463">
      <tr>
        <td width="339"><label>
          <input type="radio" name="f2_actitud" value="a" {$helper->checked($f2_actitud,"a")} id="f2_actitudExcelente" />
          Excelente</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_actitud" value="b" {$helper->checked($f2_actitud,"b")} id="f2_actitudMuyBueno" />
          Muy Bueno</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_actitud" value="c" {$helper->checked($f2_actitud,"c")} id="f2_actitudBueno" />
          Bueno</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_actitud" value="d" {$helper->checked($f2_actitud,"d")} id="f2_actitudMalo" />
          Malo</label></td>
      </tr>
      <tr>
        <td><label>
          <input type="radio" name="f2_actitud" value="e" {$helper->checked($f2_actitud,"e")} id="f2_actitudMuyMalo" />
          Muy Malo</label></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>Comentarios adicionales (por favor indicar cualquier impresión positiva o negativa sucedida en el transcurso de su clase, alumnos, logística, instalaciones, coffe break... etc. que cree pueden aportar al mejoramiento dek origrama Escuela de Ventas  GM)</td>
  </tr>
  <tr>
    <td><label>
      <textarea name="f2_comentarios" id="f2_comentarios" cols="100" rows="5">{$f2_comentarios}</textarea>
    </label></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
</table>
