<table width="800" border="0" align="center">
  <tr>
    <td align="center"><strong>ESCUELA DE EMPRESAS</strong></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><table width="800" border="0">
      <tr>
        <td colspan="2"><strong>Información General</strong></td>
      </tr>
      <tr>
        <td colspan="2"><strong>*Los campos de información general no son obligatorios</strong></td>
      </tr>
      <tr>
        <td width="395">*Nombre del Participante</td>
        <td width="389">
          <input disabled  name="f3_nombreParticipante" type="text" id="f3_nombreParticipante" size="60" value="{$f3_nombreParticipante}"/>
		</td>
      </tr>
      <tr>
        <td>*Nombre de la Empresa donde Ud. trabaja</td>
        <td><input disabled  name="f3_empresaTrabaja" type="text" id="f3_empresaTrabaja" size="60" value="{$f3_empresaTrabaja}" /></td>
      </tr>
      <tr>
        <td>*Cargo que desempeña dentro de la Empresa</td>
        <td><input disabled  name="f3_cargoDesempena" type="text" id="f3_cargoDesempena" size="60" value="{$f3_cargoDesempena}" /></td>
      </tr>
      <tr>
        <td>*A qué se dedica la Empresa o Institución?</td>
        <td><input disabled  name="f3_dedicaEmpresa" type="text" id="f3_dedicaEmpresa" size="60" value="{$f3_dedicaEmpresa}" /></td>
      </tr>
      <tr>
        <td>*Email del participante</td>
        <td><input disabled  name="f3_email" type="text" id="f3_email" size="60" value="{$f3_email}" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>
    <div><strong>Evaluación Seminario Taller</strong></div>
    <table width="220" border="1">

      <tr>
        <td colspan="2"><strong>Tabla Evaluación</strong></td>
      </tr>
      <tr>
        <td width="125"><strong>Excelente</strong></td>
        <td width="159"><strong>6</strong></td>
      </tr>
      <tr>
        <td><strong>Muy Bueno</strong></td>
        <td><strong>5</strong></td>
      </tr>
      <tr>
        <td><strong>Bueno</strong></td>
        <td><strong>4</strong></td>
      </tr>
      <tr>
        <td><strong>Regular</strong></td>
        <td><strong>3</strong></td>
      </tr>
      <tr>
        <td><strong>Malo</strong></td>
        <td><strong>2</strong></td>
      </tr>
      <tr>
        <td><strong>Muy Malo</strong></td>
        <td><strong>1</strong></td>
      </tr>
      <tr>
        <td><strong>No Aplica</strong></td>
        <td><strong>0</strong></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td><table width="800" border="0">
      <tr>
        <td width="284">&nbsp;</td>
        <td width="82"><strong>Calificación</strong></td>
        <td width="412"><strong>Comentario</strong></td>
      </tr>
      <tr>
        <td>Contenido</td>
        <td>
          <input disabled  name="f3_contenidoCalificacion" type="text" id="f3_contenidoCalificacion" size="10" value="{$f3_contenidoCalificacion}" />
        </td>
        <td><input disabled  name="f3_contenidoComentario" type="text" id="f3_contenidoComentario" size="65" value="{$f3_contenidoComentario}" /></td>
      </tr>
      <tr>
        <td>Aplicación del Curso en su Trabajo</td>
        <td><input disabled  name="f3_aplicacionCalificacion" type="text" id="f3_aplicacionCalificacion" size="10" value="{$f3_aplicacionCalificacion}" /></td>
        <td><input disabled  name="f3_aplicacionComentario" type="text" id="f3_aplicacionComentario" size="65" value="{$f3_aplicacionComentario}" /></td>
      </tr>
      <tr>
        <td>Metodología</td>
        <td><input disabled  name="f3_metodologiaCalificacion" type="text" id="f3_metodologiaCalificacion" size="10"  value="{$f3_metodologiaCalificacion}"/></td>
        <td><input disabled  name="f3_metodologiaComentario" type="text" id="f3_metodologiaComentario" size="65" value="{$f3_metodologiaComentario}" /></td>
      </tr>
      <tr>
        <td>Materiales</td>
        <td><input disabled  name="f3_materialesCalificacion" type="text" id="f3_materialesCalificacion" size="10" value="{$f3_materialesCalificacion}" /></td>
        <td><input disabled  name="f3_materialesComentario" type="text" id="f3_materialesComentario" size="65" value="{$f3_materialesComentario}" /></td>
      </tr>
      <tr>
        <td>Organización del Curso</td>
        <td><input disabled  name="f3_organizacionCalificacion" type="text" id="f3_organizacionCalificacion" size="10" value="{$f3_organizacionCalificacion}"  /></td>
        <td><input  disabled  name="f3_organizacionComentario" type="text" id="f3_organizacionComentario" size="65" value="{$f3_organizacionComentario}" /></td>
      </tr>
      <tr>
        <td>Aulas, Equipos e Instalaciones</td>
        <td><input name="f3_aeiCalificacion" value="{$f3_aeiCalificacion}" type="text" id="f3_aeiCalificacion" size="10" /></td>
        <td><input name="f3_aeiComentario" value="{$f3_aeiComentario}" type="text" id="f3_aeiComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Duración del Curso</td>
        <td><input disabled  name="f3_duracionCalificacion" value="{$f3_duracionCalificacion}" type="text" id="f3_duracionCalificacion" size="10" /></td>
        <td><input disabled  name="f3_duracionComentario" value="{$f3_duracionComentario}" type="text" id="f3_duracionComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Puntualidad y Cumplimiento</td>
        <td><input disabled  name="f3_puntualidadCalificacion"  value="{$f3_puntualidadCalificacion}" type="text" id="f3_puntualidadCalificacion" size="10" /></td>
        <td><input disabled  name="f3_puntualidadComentario" value="{$f3_puntualidadComentario}" type="text" id="f3_puntualidadComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Cuál es su evaluación general del Curso?</td>
        <td><input disabled  name="f3_evaluacionCalificacion" value="{$f3_evaluacionCalificacion}" type="text" id="f3_evaluacionCalificacion" size="10" /></td>
        <td><input disabled  name="f3_evaluacionComentario" value="{$f3_evaluacionComentario}" type="text" id="f3_evaluacionComentario" size="65" /></td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td><table width="800" border="0">
      <tr>
        <td width="296"><strong>Cómo calificas al profesor en términos de:</strong></td>
        <td width="64">&nbsp;</td>
        <td width="418">&nbsp;</td>
      </tr>
      <tr>
        <td>Actitud General</td>
        <td><input disabled  name="f3_actitudCalificacion" value="{$f3_actitudCalificacion}" type="text" id="f3_actitudCalificacion" size="10" /></td>
        <td><input disabled  name="f3_actitudComentario"  value="{$f3_actitudComentario}" type="text" id="f3_actitudComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Conocimiento general del tema</td>
        <td><input disabled  name="f3_conocimientoCalificacion"  value="{$f3_conocimientoCalificacion}" type="text" id="f3_conocimientoCalificacion" size="10" /></td>
        <td><input disabled  name="f3_conocimientoComentario"  value="{$f3_conocimientoComentario}" type="text" id="f3_conocimientoComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Equilibrio entre la teoría y aplicaciones prácticas</td>
        <td><input disabled  name="f3_equilibrioCalificacion" value="{$f3_equilibrioCalificacion}" type="text" id="f3_equilibrioCalificacion" size="10" /></td>
        <td><input disabled name="f3_equilibrioComentario" value="{$f3_equilibrioComentario}" type="text" id="f3_equilibrioComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Claridad en las explicaciones</td>
        <td><input disabled  name="f3_claridadCalificacion" value="{$f3_claridadCalificacion}" type="text" id="f3_claridadCalificacion" size="10" /></td>
        <td><input disabled  name="f3_claridadComentario" value="{$f3_claridadComentario}" type="text" id="f3_claridadComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Respuestas a inquietudes o discuciones</td>
        <td><input  disabled  name="f3_respuestasCalificacion" value="{$f3_respuestasCalificacion}" type="text" id="f3_respuestasCalificacion" size="10" /></td>
        <td><input disabled  name="f3_respuestasComentario" value="{$f3_respuestasComentario}" type="text" id="f3_respuestasComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Uso del tiempo</td>
        <td><input disabled  name="f3_tiempoCalificacion" value="{$f3_tiempoCalificacion}" type="text" id="f3_tiempoCalificacion" size="10" /></td>
        <td><input disabled  name="f3_tiempoComentario" value="{$f3_tiempoComentario}" type="text" id="f3_tiempoComentario" size="65" /></td>
      </tr>
      <tr>
        <td>Utilización de Materiales Didácticos</td>
        <td><input disabled name="f3_didacticoCalificacion" value="{$f3_didacticoCalificacion}" type="text" id="f3_didacticoCalificacion" size="10" /></td>
        <td><input disabled  name="f3_didacticoComentario" value="{$f3_didacticoComentario}" type="text" id="f3_didacticoComentario" size="65" /></td>
      </tr>
    </table></td>
  </tr>
</table>
